<h1>Topics</h1>
<div class="row">
	<div class="col-md-4">

		# <!-- html formating for topics#new-->
		<p> Guidelines for topics</p>
		<ul>
			<li> Make sure the topic is appropriate.</li>
			<li> Never insult dogs.</li>
			<li> Smile when you you type.</li>
		</ul>
	</div>

	# <!-- render the form partial for creating a new topic-->
	<div class="col-md-8">
		<%= render partial: 'form', locals: { topic: @topic, post: @post} %>
	</div>
</div>
</div>
