
<h1>About Bloccit</h1>
<p>Created by: Bryan Porras</p>

<b>This project was a project idea, and it's inspiration comes from Reddit, I wanted to test my coding skills in incorporating basic Crud actions, ajax functions, model relationships, and working with bootstrap. Overall this project took a month to complete and had my mentor's help on occasions for this project, mainly helping me out on problems I deemed too difficult to solve on my own. </b>

<br>
<br>

<%= link_to "Follow me on twitter", "https://twitter.com/Bryanp2033", class: "btn-social btn-twitter" %>


