<h1>Contact</h1>

<b> Contact me at <a href="mailto:bryanporras2033@gmail.com.io">bryanporras2033@gmail.com</a> or at my <%= link_to "twitter", "https://twitter.com/Bryanp2033", class: "btn-social btn-twitter" %>
