<h1>Edit Summary</h1>
 
 <div class="row">
 
   <div class="col-md-8">
     <%= form_for @summaries url: edit_post_summary_path do |f| %>
       <div class="form-group">
        
         <%= f.text_area :description, rows: 8, class: 'form-control', placeholder: "Enter summary description" %>
       </div>
        <%= f.submit "Save", class: 'btn btn-success' %>
     <% end %>
   </div>
 </div>