// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 h1 {
   color: red;
 }


 .social-btn {
   width: 100px;
    border: 3px solid #990;
    padding: 10px;
    margin: 0;
    background: #4A913C;
 }